/* body {
    margin: 0;
    background-color: #272727;
} */
/* Styles for Navigation Section Start */
.navbar{
   background-color: #c6a57f; 
}
.offcanvas-title{
 color: #c6a57f ;
}
.offcanvas{
    max-width: 300px;
 

}
.offcanvas-header{
    padding-bottom: 0;
    background-color:#272727 ; 
}
 .offcanvas-body{
    background-color:#272727 ; 
 }

.navSubheading{
    color: #c6a57f;  
    margin-left: 60px;
    
}
.navbar-brand{
    margin-left: 400px;
    color: white;
    font-size: 30px;
    
}

.navbar-toggler{
   background-color: white;
   border-radius: 100px;
}

.navbar-nav .nav-link.active{
    color: white;
}

.navbar-nav .nav-link.active:hover{
    color: #c6a57f;
}

.nav-link {
    color: white;
   
}

.nav-link:hover{
    color: #c6a57f;
    
}


/* Social Media Links in Nav section  */
.nav-social ul li a {
    color: white;
   
}

.nav-social ul li a:hover {
color: #c6a57f;

}

/* Social Media Icons to display inline */
.nav-social ul li{
list-style: none;
width: 35px;
height: 35px;
line-height: 38px;
font-size: 16px;
display: inline-block;
overflow: hidden;
position: relative;
}

div.nav-social{
padding-left: 50px;
padding-top: 20px;

}

.copyrightSection p{
    font-size: 12px;
    padding-left: 30px;
}

/* End of navigation styles */

/* Service section styles start */
.mainSection{
   background-color: #272727;
   color: #b4bcbc;

}
.mainHeading h4{
    color: #c6a57f;
}
.mainHeading{
    font-size: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
    color: #fff;
    word-spacing: 3px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
}
/* Styles for Navigation Section End */


.parallax{
    background-image: url('../img/parallax.jpg');
     /* Set a specific height */
     min-height: 70vh;
    
     /* Create the parallax scrolling effect */
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
    }

footer {
    background-color: #c5a47e;
    height: 100px;
}











/* .containerr {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  } */

  .col-sm:hover{
      background-image:url("img/daniel-chen-SoNaNOFT974-unsplash.jpg") ;
      width: 20px;
  }


/* Media Queries */

@media only screen and (min-width: 200px) {

    .navbar-brand{
        margin-left: 20px;
        color: white;
        font-size: 30px;
    }

}


    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 700px) {

        .navbar-brand{
            margin-left: 250px;
            color: white;
            font-size: 30px;
        }

    }
    
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {

        .navbar-brand{
            margin-left: 250px;
            color: white;
            font-size: 30px;
        }


    }
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 1024px) {
        .navbar-brand{
            margin-left: 400px;
            color: white;
            font-size: 30px;
        }

    }


    
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        .navbar-brand{
            margin-left: 550px;
            color: white;
            font-size: 30px;
        }


    } 
    