
/* Styles for Navigation Section Start */
.navbar{
   background-color: #c6a57f; 
}
.offcanvas-title{
 color: #c6a57f ;
}
.offcanvas{
    max-width: 300px;
 

}
.offcanvas-header{
    padding-bottom: 0;
    background-color:#272727 ; 
}
 .offcanvas-body{
    background-color:#272727 ; 
 }

.navSubheading{
    color: #c6a57f;  
    margin-left: 60px;
    
}
.navbar-brand{
    margin-left: 400px;
    color: white;
    font-size: 30px;
    
}

.navbar-toggler{
   background-color: white;
   border-radius: 100px;
}

.navbar-nav .nav-link.active{
    color: white;
}

.navbar-nav .nav-link.active:hover{
    color: #c6a57f;
}

.nav-link {
    color: white;
   
}

.nav-link:hover{
    color: #c6a57f;
    
}


/* Social Media Links in Nav section  */
.nav-social ul li a {
    color: white;
   
}

.nav-social ul li a:hover {
color: #c6a57f;

}

/* Social Media Icons to display inline */
.nav-social ul li{
list-style: none;
width: 35px;
height: 35px;
line-height: 38px;
font-size: 16px;
display: inline-block;
overflow: hidden;
position: relative;
}

div.nav-social{
padding-left: 50px;
padding-top: 20px;

}

.copyrightSection p{
    font-size: 12px;
    padding-left: 30px;
}
/* Styles for Navigation Section End */


/* Start of slideshow styles */
/* Overlay Slideshow text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 25px;
}

.centered h1{
    font-size: 50px;
    letter-spacing: 0.1em;
    font-weight: bold;
}
#slideShowBtn:hover{

background-color: #272727 ;
}

#slideShowBtn{
    padding: 15px 25px;
   
    background-color: #c5a47e;
    position: relative;
    z-index: 3;
    -webkit-transition: all .4s;
    transition: all .4s;
    cursor: pointer;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
   
    letter-spacing: 3px;
    border-radius: 50px;
   

}

#slideShowBtn h4{
color: white;
}

/* End of slideshow styles */







/* Media Queries */

@media only screen and (min-width: 200px) {

    .navbar-brand{
        margin-left: 20px;
        color: white;
        font-size: 30px;
    }

}


    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 700px) {

        .navbar-brand{
            margin-left: 250px;
            color: white;
            font-size: 30px;
        }

    }
    
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {

        .navbar-brand{
            margin-left: 250px;
            color: white;
            font-size: 30px;
        }


    }
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 1024px) {
        .navbar-brand{
            margin-left: 400px;
            color: white;
            font-size: 30px;
        }

    }


    
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        .navbar-brand{
            margin-left: 550px;
            color: white;
            font-size: 30px;
        }


    } 
    